*, :after, :before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
a { text-decoration: none }
a:focus, a:hover { text-decoration: underline }
a:focus { outline: -webkit-focus-ring-color auto 5px; outline-offset: -2px }
.radio-label input[type=radio]+span:before, a, input[type=reset], input[type=submit] { -webkit-transition: .3s linear; -moz-transition: .3s linear; -o-transition: .3s linear; -ms-transition: all .3s linear; transition: .3s linear }
figure { margin: 0 }
body, button, input, textarea { color: #333; font-size: 15px; line-height: 1; font-family: SVN-GILROY }
body { min-width: 320px; -ms-word-wrap: break-word; word-wrap: break-word; overflow-x: hidden }
img { max-width: 100%; height: auto }
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute !important; width: 1px }
input[type=email], input[type=number], input[type=password], input[type=phone], input[type=search], input[type=tel], input[type=text], input[type=url], textarea { border: 1px solid #ebebeb; color: #999; padding: 6px 20px; height: 50px; background: 0 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -o-box-shadow: none; box-shadow: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; -webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none; width: 100% }
textarea { height: auto }
input:focus, textarea:focus, button:focus { outline: none }
a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: 0 0 }
p { margin: 0 0 10px; line-height: 1.5; }
ul li { line-height: 1.5 }
.text-left { text-align: left }
.text-right { text-align: right }
.text-center { text-align: center }
.text-justify { text-align: justify }
.text-nowrap { white-space: nowrap }
.text-lowercase { text-transform: lowercase }
.text-uppercase { text-transform: uppercase }
.text-capitalize { text-transform: capitalize }
.no-padding { padding-top: 0 !important; padding-bottom: 0 !important }
.fl-left { float: left }
.fl-right { float: right }
body { background-color: var(--primary-color); font-size: 14px; font-weight: 400; color: var(--text-color); padding: 0; margin: 0; overflow-x: hidden; }
li { list-style: none }
a:hover, a:focus { text-decoration: none; outline: 0 none }
a:active, a:hover { color: #333333 }
p a { color: #333333 }
img { border-style: none; height: auto; max-width: 100%; vertical-align: middle }
section, aside, footer, header { display: block }
h1, h2, h3, h4, h5, h6 { margin-bottom: 24px }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #3d474a }
h1 { font-size: 42px; line-height: 48px; font-weight: normal }
h2 { font-size: 36px; line-height: 42px; font-weight: normal }
h3 { font-size: 26px; line-height: 32px; font-weight: normal; margin-bottom: 20px }
h4 { font-size: 18px; line-height: 24px; font-weight: normal; margin-bottom: 15px }
h5 { font-size: 16px; line-height: 22px; font-weight: normal; margin-bottom: 10px }
h6 { font-size: 14px; line-height: 18px; font-weight: normal; margin-bottom: 10px }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-uppercase { text-transform: uppercase }
.text-capitalize { text-transform: capitalize }
.font-16 { font-size: 16px; line-height: 22px; }
.font-20 { font-size: 20px; line-height: 26px; }
.font-24 { font-size: 24px; line-height: 30px; }
.font-60 { font-size: 60px; line-height: 66px; }
.font-weight-400 { font-weight: 400; }
.font-weight-500 { font-weight: 500; }
.font-weight-600 { font-weight: 600; }
.font-weight-700 { font-weight: 700; }
.font-weight-800 { font-weight: 800; }
ul { list-style-position: outside; padding: 0; }
ul { margin-bottom: 24px; }
ul li { padding: 0; }
.opacity-01 { opacity: 0.1; }
.opacity-07 { opacity: 0.7; }
.opacity-08 { opacity: 0.8; }
.opacity-09 { opacity: 0.9; }
.fa, .fab, .fad, .fal, .far, .fas { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; line-height: 1 }
.fa-spin { -webkit-animation: 2s linear infinite fa-spin; animation: 2s linear infinite fa-spin }
.fa-pulse { -webkit-animation: 1s steps(8) infinite fa-spin; animation: 1s steps(8) infinite fa-spin }
.fab { font-family: 'Font Awesome 5 Brands'; font-weight: 400 }
.far { font-family: 'Font Awesome 5 Free'; font-weight: 400 }
.fa, .fas { font-family: 'Font Awesome 5 Free'; font-weight: 900 }
.fa-blog:before { content: "\f781" }
.fa-caret-right:before { content: "\f0da" }
.fa-adjust:before { content: "\f042" }
.fa-twitter:before { content: "\f099"; font-family: 'Font Awesome 5 Brands'; font-weight: 400 }
.fa-facebook-f:before, .fa-facebook:before { content: "\f39e"; font-family: 'Font Awesome 5 Brands'; font-weight: 400 }
.fa-pinterest-p:before, .fa-pinterest:before { content: "\f231"; font-family: 'Font Awesome 5 Brands'; font-weight: 400 }
.fa-linkedin-in:before, .fa-linkedin:before { content: "\f0e1"; font-family: 'Font Awesome 5 Brands'; font-weight: 400 }
.fa-youtube:before { content: "\f167" }
.fa-feed:before, .fa-rss:before { content: "\f09e" }
.fa-instagram:before { content: "\f16d" }
.fa-play-circle:before { content: "\f144" }
.fa-search:before { content: "\f002" }
.fa-bars:before { content: "\f0c9" }
.close:before, .fa-close:before { content: "\f00d"; font-family: 'Font Awesome 5 Free'; font-weight: 900 }
.fa-envelope:before { content: "\f0e0" }
.fa-check-circle:before { content: "\f058" }
.fa-phone-volume:before { content: "\f2a0" }
.fa-location-arrow:before { content: "\f124" }
.fa-chevron-left:before { content: "\f053" }
.fa-chevron-right:before { content: "\f054" }
.fa-dribbble:before, .pe-7s-mail:before { content: "\f0e0"; font-family: 'Font Awesome 5 Free'; font-weight: 900 }
.pe-7s-search:before { content: "\f002"; font-family: 'Font Awesome 5 Free'; font-weight: 900 }
.fa-angle-up:before { content: "\f106" }
.fa-angle-down:before { content: "\f107" }
.fa-heart:before { content: "\f004" }
.fa-map-marker-alt:before { content: "\f3c5" }
.fa-briefcase-medical:before { content: "\f469" }
.fa-layer-group:before { content: "\f5fd" }
.fa-long-arrow-alt-right:before { content: "\f30b" }
.fa-paper-plane:before { content: "\f1d8" }
.fa-clock:before { content: "\f017" }
.fa-calendar-alt:before { content: "\f073" }
.fa-user:before { content: "\f007" }
.fa-comments:before { content: "\f086" }
.fa-smile-wink:before { content: "\f4da" }
.fa-trophy:before { content: "\f091" }
.fa-quote-left:before { content: "\f10d" }
.fa-smile-wink:before { content: "\f4da" }
.fa-times:before { content: "\f00d" }
.fa-info-circle:before { content: "\f05a" }
.fa-bars:before { content: "\f0c9" }
.fa-instagram-square:before { content: "\e055" }
.fa-facebook-square:before { content: "\f082" }
.fa-youtube-square:before { content: "\f431" }
.fa-phone-alt:before { content: "\f879" }
.fa-envelope:before { content: "\f0e0" }
.fa-play-circle:before { content: "\f144" }
.fa-share-alt:before { content: "\f1e0"; font-family: 'Font Awesome 5 Free'; font-weight: 900 }
.fa-google-plus:before, .fa-google:before { content: "\f1a0"; font-family: 'Font Awesome 5 Brands'; font-weight: 400 }
.owl-carousel, .owl-carousel .owl-item { -webkit-tap-highlight-color: transparent; position: relative }
.owl-carousel { display: none; width: 100%; z-index: 1 }
.owl-carousel .owl-stage { position: relative; -ms-touch-action: pan-Y }
.owl-carousel .owl-stage:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0 }
.owl-carousel .owl-stage-outer { position: relative; overflow: hidden; -webkit-transform: translate3d(0, 0, 0) }
.owl-carousel .owl-item, .owl-carousel .owl-wrapper { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0) }
.owl-carousel .owl-item { min-height: 1px; float: left; -webkit-backface-visibility: hidden; -webkit-touch-callout: none }
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled { display: none }
.no-js .owl-carousel, .owl-carousel.owl-loaded { display: block }
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev { box-shadow: 0 0 50px 0 rgba(0, 0, 0, .1); -moz-box-shadow: 0 0 50px 0 rgba(0, 0, 0, .1); -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, .1); cursor: pointer; cursor: hand; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none }
.owl-carousel.owl-loading { opacity: 0; display: block }
.owl-carousel.owl-hidden { opacity: 0 }
.owl-carousel.owl-refresh .owl-item { visibility: hidden }
.owl-carousel.owl-drag .owl-item { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none }
.owl-carousel.owl-grab { cursor: move; cursor: grab }
.owl-carousel.owl-rtl { direction: rtl }
.owl-carousel.owl-rtl .owl-item { float: right }
.owl-carousel .animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both }
.owl-carousel .owl-animated-in { z-index: 0 }
.owl-carousel .owl-animated-out { z-index: 1 }
.owl-carousel .fadeOut { -webkit-animation-name: fadeOut; animation-name: fadeOut }
.owl-height { transition: height .5s ease-in-out }
.owl-carousel .owl-item .owl-lazy { opacity: 0; transition: opacity .4s ease }
.owl-carousel .owl-item img.owl-lazy { -webkit-transform-style: preserve-3d; transform-style: preserve-3d }
.background-slide { height: 100% }
.background-slide img { height: 100%; width: 100%; object-fit: cover }
.owl-prev { left: 20px }
.owl-next { left: auto; right: 20px }
.owl-prev, .owl-next { position: absolute; top: 50%; transform: translateY(-50%); height: 50px; text-align: center; cursor: pointer; position: absolute; display: block; z-index: 100; border-radius: 50%; overflow: hidden }
.owl-nav button { position: absolute; top: 50%; background-color: var(--text-color); color: #fff; margin: 0; transition: all 0.3s ease-in-out }
.owl-nav button.owl-prev { left: 0 }
.owl-nav button.owl-next { right: 0 }
.owl-dots { text-align: center; padding-top: 40px; padding-bottom: 20px }
.owl-dots button.owl-dot:focus { outline: none }
.owl-nav button { position: absolute; top: 50%; transform: translateY(-50%); background: var(--text-color) !important }
.owl-nav button:focus { outline: none }
.owl-nav i { color: #fff }
.background-slide { position: relative }
.slider { position: relative }
.item-slide>a { display: inline-block; height: 100%; width: 100% }
.page-section { padding: 100px 0; position: relative }
.slider .owl-dots .owl-dot:hover, .slider .owl-dots .owl-dot.active { background: var(--primary-color) }
.slider .owl-dots .owl-dot { cursor: pointer; display: inline-block; line-height: 12px; margin: 0 5px; position: relative; text-indent: -9999px; -webkit-transition: all 0.4s ease 0s; transition: all 0.4s ease 0s; background: #e8e8e8; width: 12px; height: 12px; border-radius: 50% }
.slider .owl-dots { bottom: 115px; padding: 0; position: absolute; width: 100%; z-index: 10; bottom: 10% }

/*menu*/
#header .sticky-header.fix, #header-content-mobile.fix { position: fixed; z-index: 120; background: rgba(255, 255, 255, 0.8); width: 100%; box-shadow: 1px 1px 16px 0px #333333; top: 0; }
.sticky-header.fix { background: rgba(255, 255, 255, 0.8); transition: all 0.5s ease-in-out; }
.tieude-menu>a:before { content: ""; display: block; position: absolute; left: 5px; bottom: 1px; width: 65px; height: 1px; background: #d5b369; z-index: 2; }
.tieude-menu>a { position: relative; padding-bottom: 10px !important; display: inline-block; width: 100% !important; margin-bottom: 10px; max-width: 200px; }
.tieude-menu>a:after { content: "" !important; display: block !important; position: absolute; bottom: -1px; left: 5px; border-bottom: 1px solid #d5b369; width: 100% !important; height: 1px !important; background: transparent !important; z-index: 1; }
.tieude-menu>a { color: #9d783a !important; text-transform: uppercase; font-size: 14px !important; }
ul#primary-menu>li ul a { font-size: 14px; }
.header__btn { float: right; display: flex; justify-content: right; }
header#header .site-branding { grid-area: 1 / 1 / span 1 / span 1; }
header#header .main-nav { grid-area: 1 / 2 / span 1 / span 1; }
header#header .header__btn { grid-area: 1 / 3 / span 1 / span 1; }
header#header .navbar-container-inner { grid-template-columns: 15% 85%; }
.navbar-container-inner .site-logo { width: 100px; height: 78px; }
.navbar-container-inner .site-logo a { width: 100%; display: block; height: 100% }
.navbar-container-inner { align-items: center; display: grid; justify-content: left; position: relative; }
.navbar-container-inner .site-logo a img { height: 100%; width: 100%; object-fit: contain; text-align: left }
.branding { float: left; line-height: 1 }
.branding.branding-default { margin-top: 26px; height: auto }
.branding.branding-default img { width: 102px; height: auto }
#header #main-nav-tool, #header #main-navigation { padding: 0; list-style: none; margin: 0; float: right; }
#header #main-nav-tool>li, #header #main-navigation>li { list-style: none; display: inline-block; height: 71px; position: relative; line-height: 71px; }
#header #main-nav-tool { margin: 0 0 0 20px }
#header #main-nav-tool>li+li, #header #main-navigation>li+li { margin-left: 15px }
#header #main-navigation>li>a { padding: 0 10px; font-weight: 400; color: var(--text-color); font-size: 18px; text-transform: initial; }
#header #main-navigation>li.current-menu-item>a, #header #main-navigation>li>a:focus, #header #main-navigation>li>a:hover { color: var(--secondary-color); text-decoration: none }
.header-button span { padding: 12px 22px; border: 1px solid var(--secondary-color); color: var(--secondary-color) }
#main-nav-mobile .header-button a { padding-right: 10px }
#main-nav-mobile .header-button span { display: block; padding: 6px 15px; font-size: 12px }
.header-button a:hover { text-decoration: none }
.header-button a:hover span { background: var(--secondary-color); color: #fff }
#header #main-navigation>li.menu-item-has-children>a:after { content: "\f078"; font-family: 'Font Awesome 5 Free'; font-size: 12px; padding-left: 5px; font-weight: 900 }
#header #main-navigation>li ul.sub-menu { padding: 0; border: 0; display: block; opacity: 0; visibility: hidden; min-width: 210px; margin: 0; line-height: 30px; position: absolute; top: 100%; left: 0; z-index: 1000; background: #fff; list-style: none; transform: scaleY(0); -webkit-transform: scaleY(0); -moz-transform: scaleY(0); -ms-transform: scaleY(0); -o-transform: scaleY(0); transform-origin: center top 0; -webkit-transform-origin: center top 0; -moz-transform-origin: center top 0; -ms-transform-origin: center top 0; -o-transform-origin: center top 0; transition: .3s ease-in-out; -webkit-transition: .3s ease-in-out; -moz-transition: .3s ease-in-out; -ms-transition: all .3s ease-in-out 0s; -o-transition: .3s ease-in-out; box-shadow: 0 6px 12px rgba(0, 0, 0, .1); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .1); -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .1); -ms-box-shadow: 0 6px 12px rgba(0, 0, 0, .1); -o-box-shadow: 0 6px 12px rgba(0, 0, 0, .1) }
#header #main-navigation>li:hover>ul.sub-menu, #header #main-navigation>li>ul.sub-menu>li:hover>ul { opacity: 1; visibility: visible; transform: scaleY(1); -webkit-transform: scaleY(1); -moz-transform: scaleY(1); -ms-transform: scaleY(1); -o-transform: scaleY(1) }
#header #main-navigation>li>ul.sub-menu a { color: #333; text-decoration: none; font-size: 13px; line-height: 22px; display: block; position: relative; z-index: 1; -webkit-transition: .3s ease-in-out; transition: .3s ease-in-out; padding: 7px 5px 7px 5px; border-bottom: 1px dotted #d5b369; font-weight: bold; }
#header #main-navigation>li>ul.sub-menu>li.menu-item-has-children>a:after { content: "\f054"; font-family: 'Font Awesome 5 Free'; font-size: 12px; right: 10px; font-weight: 900; position: absolute }
#header #main-navigation>li>ul.sub-menu a:hover { color: var(--secondary-color); }
#header #main-navigation>li>ul.sub-menu a:hover::before { -webkit-transition: .3s ease-in-out; transition: .3s ease-in-out; opacity: 1; left: 0 }
#header #main-navigation>li>ul.sub-menu>li>ul { top: 0; left: 100% }
#header-content-mobile { padding: 0 15px; -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .05); -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .05); -ms-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .05); -o-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .05); box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .05); display: none }
#header-content-mobile .header-content-mobile-inner { position: relative }
#header-content-mobile .header-content-mobile-inner:after { content: ''; clear: both; display: block }
#header-content-mobile .branding-mobile { margin-top: 20px; margin-bottom: 20px; float: left }
#header-content-mobile .branding-mobile p { margin: 0 }
#header-content-mobile .branding.branding-mobile img { width: 70px }
#header-content-mobile .header-mobile-tools { right: -5px; position: absolute; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); top: 50% }
#header-content-mobile .header-mobile-tools a { display: block; float: right; line-height: 32px; font-size: 18px; padding: 10px; color: var(--secondary-color) }

/*mega menu*/
#header #main-navigation.menu-mega>li.mega-item>ul.sub-menu>li>ul { visibility: visible; opacity: 1; display: block; position: unset; overflow: hidden; -webkit-transform: scaleY(1); -moz-transform: scaleY(1); -ms-transform: scaleY(1); -o-transform: scaleY(1); }
#header #main-navigation.menu-mega>li.mega-item>ul.sub-menu>li>ul { width: 100%; min-width: max-content; box-shadow: none; }
#header #main-navigation.menu-mega>li.mega-item>ul.sub-menu { display: flex; width: 100%; min-width: 100%; justify-content: space-between; border-radius: 10px; top: 80%; padding-bottom: 30px; padding-top: 10px; box-shadow: none; }
#header #main-navigation.menu-mega>li.mega-item { position: unset; }
#header #main-navigation.menu-mega { position: relative; }
#header #main-navigation.menu-mega>li.mega-item>ul.sub-menu>li { width: 100%; padding: 0px 15px; }
#header #main-navigation.menu-mega>li.menu-1-cot.mega-item>ul.sub-menu>li>ul { display: grid; grid-template-columns: 1fr 1fr 1fr; }
#hamburger-icon .hamburger-icon-inner { width: 20px; height: 12px; position: relative; display: block }
#hamburger-icon .line { display: block; background: var(--secondary-color); width: 20px; height: 2px; position: absolute; left: 0; -webkit-border-radius: 1px; -moz-border-radius: 1px; -ms-border-radius: 1px; -o-border-radius: 1px; border-radius: 1px; -webkit-transition: .4s; -moz-transition: .4s; -ms-transition: all .4s; -o-transition: .4s; transition: .4s }
#hamburger-icon .line.line-1 { top: 0 }
#hamburger-icon .line.line-2 { top: 50% }
#hamburger-icon .line.line-3 { top: 100% }
#hamburger-icon.active .line-1 { -webkit-transform: translateY(6px) translateX(0) rotate(45deg); -moz-transform: translateY(6px) translateX(0) rotate(45deg); -ms-transform: translateY(6px) translateX(0) rotate(45deg); -o-transform: translateY(6px) translateX(0) rotate(45deg); transform: translateY(6px) translateX(0) rotate(45deg) }
#hamburger-icon.active .line-2 { top: 100%; -webkit-transform: translateY(6px); -moz-transform: translateY(6px); -ms-transform: translateY(6px); -o-transform: translateY(6px); transform: translateY(6px) }
#hamburger-icon.active .line-3 { -webkit-transform: translateY(-6px) translateX(0) rotate(-45deg); -moz-transform: translateY(-6px) translateX(0) rotate(-45deg); -ms-transform: translateY(-6px) translateX(0) rotate(-45deg); -o-transform: translateY(-6px) translateX(0) rotate(-45deg); transform: translateY(-6px) translateX(0) rotate(-45deg) }
.main-nav-mobile { background: #fff; border-top: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb; width: 100%;	/* display: none; */ overflow-y: scroll; position: fixed; max-height: 400px; z-index: 9999999; left: -100%; width: 300px; height: 100vh; top: 0; }
.main-nav-mobile>ul>li .open-submenu { cursor: pointer; height: 100%; position: absolute; right: 0; text-align: center; top: 0; width: 40px; line-height: 46px; z-index: 100 }
.menu_overlay { display: none; }
.menu_overlay.hidden_menu { display: block; position: fixed; width: 100%; height: 100%; top: 0; left: 0; right: 0; z-index: 1000; background: var(--text-color)00091; }
.menu_header, .navigation-mobile, .for_phone_and_res { position: relative; z-index: 10000; background: #fff; }
.main-nav-mobile>ul>li.mega-item>ul>li>ul.sub-menu { padding-left: 10px; display: block; }
.main-nav-mobile>ul>li.mega-item ul.sub-menu { margin: 0 }
.main-nav-mobile>ul>li.mega-item>ul>li>.open-submenu { display: none; }
.main-nav-mobile>ul>li>.open-submenu::after, .main-nav-mobile>ul>li>ul>li>.open-submenu::after { font-size: 15px; font-family: "Font Awesome 5 Free"; content: "\f054"; font-style: 12px; font-weight: 900; speak: none; font-variant: normal; text-transform: none; -webkit-font-smoothing: antialiased; text-decoration: none }
.main-nav-mobile>ul>li.active-menu-item>.open-submenu::after, .main-nav-mobile>ul>li>ul>li.active-menu-item>.open-submenu::after { content: '\f106'; font-size: 20px; }
body.opened-nav-animate { height: 100%; overflow: hidden !important; position: fixed; width: 100% }
body.opened-nav-animate.admin-bar #wpadminbar { margin-top: -46px }
body.opened-nav-animate .main-nav-mobile { display: block; left: 0 }
body.opened-nav-animate.opened-nav #main-nav-mobile.main-nav-mobile>ul li, html.menu-open #main-nav-mobile.main-nav-mobile>ul li { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); -webkit-opacity: 1; -moz-opacity: 1; -ms-opacity: 1; -o-opacity: 1; opacity: 1 }
.main-nav-mobile>ul { margin: 0; padding: 0; list-style: none }
.main-nav-mobile li { position: relative }
#main-nav-mobile.main-nav-mobile>ul>li { -webkit-transform: translateX(-30px); -moz-transform: translateX(-30px); -ms-transform: translateX(-30px); -o-transform: translateX(-30px); transform: translateX(-30px); -webkit-opacity: 0; -moz-opacity: 0; -ms-opacity: 0; -o-opacity: 0; opacity: 0 }
.main-nav-mobile>ul>li>a { border-bottom: 1px solid #ebebeb; color: #999; font-weight: 600; text-transform: uppercase; letter-spacing: .075em; display: block; padding: 10px 60px 10px 15px; position: relative; font-size: 13px }
ul.navigation-mobile>li:hover>a, ul.navigation-mobile>li>a:hover { background-color: #f5f5f5; text-decoration: none; color: var(--text-color) }
.main-nav-mobile>ul>li .searchform { margin: 10px }
.main-nav-mobile>ul>li ul.sub-menu { padding: 15px 0; border-bottom: 1px solid #ebebeb; display: none }
.main-nav-mobile>ul>li ul.sub-menu li a { color: #333; text-decoration: none; font-size: 13px; line-height: 22px; display: block; position: relative; z-index: 1; -webkit-transition: .3s ease-in-out; transition: .3s ease-in-out; padding: 12px 5px 12px 15px; border-bottom: 1px solid #ececec; overflow: hidden }
.main-nav-mobile>ul>li ul.sub-menu li a { padding: 0px 60px 10px 15px; height: 51px; line-height: 51px; }
.sticky-header.fix { background: #fff; color: #333; position: fixed; width: 100%; left: 0; top: 0; box-shadow: 0 1px 6px rgba(0, 0, 0, .3); z-index: 999; -webkit-box-shadow: 0 0 20px rgba(51, 51, 51, .1); -moz-box-shadow: 0 0 20px rgba(51, 51, 51, .1); -ms-box-shadow: 0 0 20px rgba(51, 51, 51, .1); -o-box-shadow: 0 0 20px rgba(51, 51, 51, .1); box-shadow: 0 0 20px rgba(51, 51, 51, .1) }
.popup-search.open { visibility: visible; opacity: 1 }
.popup-search { position: fixed; top: 0; left: 0; display: block; visibility: hidden; width: 100%; height: 100vh; background-color: rgb(0 0 0 / 91%); opacity: 0; z-index: 99999; transition: all 0.3s ease 0s; display: flex; align-items: center }
.bnt-search { padding-left: 20px; margin-left: 20px; cursor: pointer; float: right; border-left: 1px solid #5555555c }
.search-close { position: absolute; top: 5%; right: 5%; width: 40px; height: 40px; border: none; opacity: 1 !important; z-index: 999; text-align: center; cursor: pointer }
.popup-search-form { width: 100%; padding: 0 20%; text-align: center }
.popup-search-form input.search_field { background: none; border: none; font-size: 30px; text-align: center; color: #fff; border-bottom: 1px solid #fff; padding: 50px 0; font-weight: 300; width: 100% }
.popup-search-form .search-close span::before { position: fixed; z-index: 1000000; width: 300px; height: 100%; top: 0; right: -100%; transition: .5s }
.popup-search-form .search-close span::before, .off-canvas-close span::before { content: ""; position: absolute; top: 10px; left: 0; background: #ddd; transform: rotate(-45deg); width: 40px; height: 2px }
.popup-search-form .search-close span::after, .off-canvas-close span::after { content: ""; position: absolute; top: 10px; left: 0; background: #ddd; transform: rotate(45deg); width: 40px; height: 2px }
input.search-global__input:focus { outline: none }
.popup-search-form input[type="submit"] { display: none }
input.search-global__input { font-size: 65px; width: auto; height: auto; border: none }
input.search-global__input::placeholder { color: #fff }
@media only screen and (max-width:1024px) {
	header .menu_header .menu_title { padding: 0 15px; line-height: 35px; text-transform: capitalize; font-family: SanFrancisco; font-weight: bold; font-size: 16px; border-bottom: solid 1px #f0f0f0; color: var(--primary-bg-color); }
	header .menu_header .menu_close { position: absolute; right: 0; top: 0; width: 35px; height: 35px; text-align: center; line-height: 35px; border-left: solid 1px #f0f0f0; font-size: 20px; cursor: pointer; color: var(--primary-color); }
	.mobile .navbar-container-inner .site-logo { width: 100px }
	.mobile .navbar-container-inner { justify-content: flex-start }
	.main-nav-mobile>ul>li>ul>li>ul.sub-menu { padding-left: 10px; }
	.main-nav-mobile>ul>li>.open-submenu { clear: both; z-index: 1; height: 45px; }
	.main-nav-mobile>ul>li>ul>li>.open-submenu { z-index: 100; }
	.main-nav-mobile>ul>li ul.sub-menu { padding: 0px 0px 15px 0px; }
	.main-nav-mobile>ul>li>a { height: 47px; line-height: 47px; padding-top: 0; }
	.main-nav-mobile>ul>li>a { color: var(--text-color); }
	.bnt-search { right: 25px; position: absolute; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); top: 50%; border-left: none; border-right: 1px solid #5555555c; padding-right: 20px; margin-right: 20px }
	.bnt-search i { color: var(--secondary-color) }
	.popup-search-form { padding: 0 }
	input.search-global__input { font-size: 30px }
	.search-close { top: 10% }
}
@media (min-width:769px) {
	div.carousel-item-inner { height: 720px !important }
}
@media (max-width:768px) {
	.mobile-text-center { text-align: center }
	#header { display: none }
	#header-content-mobile { display: block }
}

/*animation*/
.puff-in-center { -webkit-animation: puff-in-center .7s cubic-bezier(.47, 0.000, .745, .715) both; animation: puff-in-center .7s cubic-bezier(.47, 0.000, .745, .715) both }
@-webkit-keyframes scale-in-hor-center {
	0% { -webkit-transform: scaleX(0); transform: scaleX(0); opacity: 1 }
	100% { -webkit-transform: scaleX(1); transform: scaleX(1); opacity: 1 }
}
@keyframes scale-in-hor-center {
	0% { -webkit-transform: scaleX(0); transform: scaleX(0); opacity: 1 }
	100% { -webkit-transform: scaleX(1); transform: scaleX(1); opacity: 1 }
}
.scale-out-horizontal { -webkit-animation: scale-out-horizontal 0.5scubic-bezier(0.55, 0.085, 0.68, 0.53) both; animation: scale-out-horizontal 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)both }
@-webkit-keyframes scale-out-horizontal {
	0% { -webkit-transform: scaleX(1); transform: scaleX(1); opacity: 1 }
	100% { -webkit-transform: scaleX(0); transform: scaleX(0); opacity: 1 }
}
@keyframes scale-out-horizontal {
	0% { -webkit-transform: scaleX(1); transform: scaleX(1); opacity: 1 }
	100% { -webkit-transform: scaleX(0); transform: scaleX(0); opacity: 1 }
}
.fade-in-top { -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both; animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both }
@-webkit-keyframes fade-in-top {
	0% { -webkit-transform: translateY(-50px); transform: translateY(-50px); opacity: 0 }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1 }
}
@keyframes fade-in-top {
	0% { -webkit-transform: translateY(-50px); transform: translateY(-50px); opacity: 0 }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1 }
}
.slide-bottom { -webkit-animation: slide-bottom .5s cubic-bezier(.25, .46, .45, .94) both; animation: slide-bottom .5s cubic-bezier(.25, .46, .45, .94) both }
@-webkit-keyframes slide-bottom {
	0% { -webkit-transform: translateY(0); transform: translateY(0) }
	100% { -webkit-transform: translateY(-15px); transform: translateY(-15px) }
}
@keyframes slide-bottom {
	0% { -webkit-transform: translateY(0); transform: translateY(0) }
	100% { -webkit-transform: translateY(-15px); transform: translateY(-15px) }
}
@-webkit-keyframes fa-spin {
	0% { -webkit-transform: rotate(0); transform: rotate(0) }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg) }
}
@keyframes fa-spin {
	0% { -webkit-transform: rotate(0); transform: rotate(0) }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg) }
}
@-webkit-keyframes fadeOut {
	0% { opacity: 1 }
	100% { opacity: 0 }
}
@keyframes fadeOut {
	0% { opacity: 1 }
	100% { opacity: 0 }
}
@-webkit-keyframes AnimationName {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}
@-moz-keyframes AnimationName {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}
@keyframes AnimationName {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}
@-webkit-keyframes slideInDown {
	0% { -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); visibility: visible }
	100% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0) }
}
@keyframes slideInDown {
	0% { -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); visibility: visible }
	100% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0) }
}
@keyframes vibrate {
	0% { top: 0px; }
	25% { top: -3px; }
	50% { top: 0px; }
	75% { top: 3px; }
	100% { top: 0px; }
}

/* Firefox */
@-moz-keyframes vibrate {
	0% { top: 0px; }
	25% { top: -3px; }
	50% { top: 0px; }
	75% { top: 3px; }
	100% { top: 0px; }
}

/* Safari and Chrome */
@-webkit-keyframes vibrate {
	0% { top: 0px; }
	25% { top: -3px; }
	50% { top: 0px; }
	75% { top: 3px; }
	100% { top: 0px; }
}

/* Opera */
@-o-keyframes vibrate {
	0% { top: 0px; }
	25% { top: -3px; }
	50% { top: 0px; }
	75% { top: 3px; }
	100% { top: 0px; }
}
@-webkit-keyframes shake-bl {
	0%, 100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); -webkit-transform-origin: 0 100%; transform-origin: 0 100% }
	10% { -webkit-transform: rotate(2deg); transform: rotate(2deg) }
	20%, 40%, 60% { -webkit-transform: rotate(-4deg); transform: rotate(-4deg) }
	30%, 50%, 70% { -webkit-transform: rotate(4deg); transform: rotate(4deg) }
	80% { -webkit-transform: rotate(-2deg); transform: rotate(-2deg) }
	90% { -webkit-transform: rotate(2deg); transform: rotate(2deg) }
}
@keyframes shake-bl {
	0%, 100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); -webkit-transform-origin: 0 100%; transform-origin: 0 100% }
	10% { -webkit-transform: rotate(2deg); transform: rotate(2deg) }
	20%, 40%, 60% { -webkit-transform: rotate(-4deg); transform: rotate(-4deg) }
	30%, 50%, 70% { -webkit-transform: rotate(4deg); transform: rotate(4deg) }
	80% { -webkit-transform: rotate(-2deg); transform: rotate(-2deg) }
	90% { -webkit-transform: rotate(2deg); transform: rotate(2deg) }
}
@-webkit-keyframes slide-in-top {
	0% { -webkit-transform: translateY(-1000px); transform: translateY(-1000px); opacity: 0 }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1 }
}
@keyframes slide-in-top {
	0% { -webkit-transform: translateY(-1000px); transform: translateY(-1000px); opacity: 0 }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1 }
}
@-webkit-keyframes puff-in-center {
	0% { -webkit-transform: scale(2); transform: scale(2); -webkit-filter: blur(4px); filter: blur(4px); opacity: 0 }
	100% { -webkit-transform: scale(1); transform: scale(1); -webkit-filter: blur(0); filter: blur(0); opacity: 1 }
}
@keyframes puff-in-center {
	0% { -webkit-transform: scale(2); transform: scale(2); -webkit-filter: blur(4px); filter: blur(4px); opacity: 0 }
	100% { -webkit-transform: scale(1); transform: scale(1); -webkit-filter: blur(0); filter: blur(0); opacity: 1 }
}
.fade-in-top-syt { -webkit-animation: fade-in-top-syt .6s cubic-bezier(.39, .575, .565, 1.000) both; animation: fade-in-top-syt .6s cubic-bezier(.39, .575, .565, 1.000) both }
@-webkit-keyframes fade-in-top-syt {
	0% { -webkit-transform: translateY(-50px); transform: translateY(-50px); opacity: 0 }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1 }
}
@keyframes fade-in-top-syt {
	0% { -webkit-transform: translateY(-50px); transform: translateY(-50px); opacity: 0 }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1 }
}